<!DOCTYPE html>
<html>
  <head>
    <base href="/krumelur/">
    <title>Krumelur Player</title>
  </head>
  <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
  <body>
    <canvas width="5760" height="1080"></canvas>
    <div class="settings">
      <div>
        <span>Speed: </span>
        <input class="input-speed" type="range" min="0.1" max="2" step="0.1" value="1">
        <span class="label-speed"></span>
      </div>
      <div>
        <span>Size: </span>
        <input class="input-size" type="range" min="0.1" max="2" step="0.1" value="1">
        <span class="label-size"></span>
      </div>
      <div>
        <span>Show All Masks:</span>
        <input class="toggle-masks" type="checkbox">

        <div class="mask-toggles">
          <span>Mask: </span>
          <select class="mask-name-select"></select>
          <button class="mask-name-show">Show</button>
          <button class="mask-name-hide">Hide</button>
          <button class="mask-name-enable">Enable</button>
          <button class="mask-name-disable">Disable</button><br>
          <span>Mask Layer:</span>
          <select class="mask-layer-select"></select>
          <button class="mask-layer-show">Show</button>
          <button class="mask-layer-hide">Hide</button>
          <button class="mask-layer-enable">Enable</button>
          <button class="mask-layer-disable">Disable</button><br>
        </div>
      </div>
      <div>
        <span>Effect: </span>
        <select class="effect-select"></select>
        <button class="effect-trigger">Trigger</button>
      </div>
      <div>
        <span>Krumelur: </span>
        <select id="krumelur-select"></select>
        <select id="behavior-select"></select>
        <button id="krumelur-add">Add</button>
      </div>
      <textarea class="mask-json"></textarea>
      <button class="button-select">Select all json</button>
    </div>
  </body>
  <script>
    // Behavior, mask, effects and 100 latest krumelurs are added by server
    window.env = '<%= env %>';
    window.behaviors = <%= behaviors %>;
    window.masks = <%= masks %>;
    window.effects = <%= effects %>;
    window.krumelurs = <%= krumelurs %>;
  </script>

  <!-- OTHER SCRIPTS -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="assets/js/pixi.min.js"></script>
  <script src="assets/js/utils.js"></script>
  <script src="assets/js/constants.js"></script>
  <script src="assets/js/mergeSortBy.js"></script>
  <script src="assets/js/settings.js"></script>
  <script src="assets/js/animations.js"></script>
  <script src="assets/js/eventHandlers.js"></script>
  <script src="assets/js/Krumelur.js"></script>
  <script src="assets/js/Effect.js"></script>
  <script src="assets/js/Stage.js"></script>
  <script src="assets/js/Scenery.js"></script>
  <script src="assets/js/TestMask.js"></script>
  <script src="assets/js/loader.js"></script>
  <script src="assets/js/renderer.js"></script>
  <script src="assets/js/player.js"></script>
  <script src="assets/js/main.js"></script>
</html>
