body {
    background: black;
    /*overflow: hidden;*/
}

canvas {
    position: absolute;
    top: 0;
    left: 70px;
}

div.settings {
    position: fixed;
    top: 200px;
    left: 80px;
    width: 350px;
    height: 600px;
    background: rgba(180, 100, 150, 0.8);
    display: none;
}

textarea.mask-json {
    position: absolute;
    top: 120px;
    height: 500px;
    width: 100%;
    overflow: auto;
    background: rgba(230, 230, 230, 0.9);
}
