body {
  background: black;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 70px;
}

div.settings {
  position: fixed;
  padding: 10px;
  top: 160px;
  left: 80px;
  width: 500px;
  height: 360;
  background: rgba(180, 100, 150, 0.5);
  display: none;
  font-family: 'Helvetica';
  font-size: small;
  font-weight: 400;
}

div.settings span {
  color: white;
}

textarea.mask-json {
  position: relative;
  top: 10px;
  height: 160px;
  width: 490px;
  overflow: auto;
  background: rgba(230, 230, 230, 0.4);
  margin-bottom: 10px;
}
